h1{
  font-size: 200px;
  color: #8e44ad;
  text-align: center;
}
h2{
  color: #9b59b6;
  font-size: 120px;
  text-align: center;
}
.password{
  color: navy;
  background-image: url("../images/1.jpg");
  background-size: cover;
  text-align: center;
  padding: 17% 30% !important;
}
.password form{
  background-color: rgba(52, 152, 219,0.5);
  padding: 40px;
  border-radius: 10px;
}
.input-field{
  width:100% !important;
}
.password .row{
  margin: 0 !important;
}

.createUser{
  background-image: url("../images/3.jpg");
  background-size: cover;
  padding: 8.2% 15%;
}
.createUser form{
  padding: 4%;
  border: 5px solid;
  background: rgba(236, 240, 241,0.4)
}

.principalPage{
}
.principalPage div{
  text-align: center;
}
.principalPage button{
  background: rgba(236, 240, 241,0.6) !important;
  font-size: 50px;
  border: 4px solid;
  border-radius: 100px;
  width: 80%;
}
.principalPage i{
  font-size: 90px;
}
.cvs{
  background-image: url("../images/19.jpg");
  background-size: cover;
  padding: 21.5% 0 !important;
}
.categorias{
  background-image: url("../images/14.jpg");
  background-size: cover;
  padding: 21.5% 0 !important;
}
.entrevista{
  background-image: url("../images/9.jpg");
  background-size: cover;
  padding: 21.5% 0 !important;
}

.menu{
  background: rgba(41, 128, 185,1.0);
  height: 90px;
}
.menu div{
  padding: 14px;
}
.brand-logo{
  font-size: 50px !important;
}
.menu i{
  font-size: 50px !important;
}

.cvForm{
  background-image: url("../images/3.jpg");
  background-size: cover;
  padding: 3%;
  display: inline-block;
  width: 100%;
  height: 985px;
}
.cv{
  background: rgba(52, 73, 94,0.3);
  border: 4px solid;
}
.cv ul{
  background: rgba(52, 73, 94,0.3);
}
.tabs .tab a{
  color: white !important;
}
.select{
  margin-left: 1% !important;
  color: gray;
}
.select select{
  background: transparent;
  width: 20%;

}
.cv button{
  margin-left: 43%;
  margin-bottom: 1%;
}
