<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>home</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <h1>Home</h1>
    <h2>Funciona yei</h2>
  </body>
</html>
